.container {
	margin: 0 auto;
	max-width: $huge;
	width: 95%;
}

@media (min-width: $medium) {
	.container {
		width: 90%;
	}
}

@media (min-width: $large) {
	.container {
		width: 85%;
	}
}

.col .row {
	margin-left: (-1 * $gutter-width / 2);
	margin-right: (-1 * $gutter-width / 2);
}

.section {
	padding-top: 1rem;
	padding-bottom: 1rem;

	&.no-pad {
		padding: 0;
	}

	&.no-pad-bot {
		padding-bottom: 0;
	}

	&.no-pad-top {
		padding-top: 0;
	}
}


// Mixins to eliminate code repitition
@mixin reset-offset {
	margin-left: 0;
	left: auto;
	right: auto;
}

@mixin gridCol($class) {
	$i: 1;

	@while($i <=$cols) {
		
		$perc: unquote((100 / ($cols / $i)) + "%");

		&.#{$class}#{$i} {
			width: $perc;
			@include reset-offset();
		}

		$i: $i+1;
	}

	$i: 1;

	@while($i <=$cols) {
		$perc: unquote((100 / ($cols / $i)) + "%");

		&.offset-#{$class}#{$i} {
			margin-left: $perc;
		}

		&.pull-#{$class}#{$i} {
			right: $perc;
		}

		&.push-#{$class}#{$i} {
			left: $perc;
		}

		$i: $i+1;
	}
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	&.flex{
		display: flex;
		flex-wrap: wrap;

		& > .col{
			float: none;
		}
	}

	// Clear floating children
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.col {
		float: left;
		box-sizing: border-box;
		padding: 0 $gutter-width / 2;
		min-height: 1px;
		width: 100%;

		&[class*="push-"],
		&[class*="pull-"] {
			position: relative;
		}


		//= Tiny rules ==========================================

		@media(max-width: $extra-small) {
			@include gridCol("t");
		}

		// //= Extra-small rules ===================================

		@media(min-width: $extra-small) {
			@include gridCol("xs");
		}

		// //= Small rules =========================================
		@media(min-width: $small) {
			@include gridCol("s");
		}

		// //= Medium rules =========================================
		@media(min-width: $medium) {
			@include gridCol('m');
		}

		// //= Large rules ==========================================
		@media(min-width: $large) {
			@include gridCol('l');
		}

		// //= Extra-large rules ====================================
		@media(min-width: $extra-large) {
			@include gridCol('xl');
		}

		// //= Huge rules ====================================
		@media(min-width: $huge) {
			@include gridCol('h');
		}
	}
}

@mixin align($align, $direction, $size){
	@media(#{$direction}-width: $size){
		text-align: $align;
	}
}

.ra{
	// up direction
	&.s-up{@include align(right, "min", $small);}
	&.m-up{@include align(right, "min", $medium);}
	&.l-up{@include align(right, "min", $large);}
	&.xl-up{@include align(right, "min", $extra-large);}

	// down-direction
	&.s-down{@include align(right, "max", $small);}
	&.m-down{@include align(right, "max", $medium);}
	&.l-down{@include align(right, "max", $large);}
	&.xl-down{@include align(right, "max", $extra-large);}
}

.la{
	// up direction
	&.s-up{@include align(left, "min", $small);}
	&.m-up{@include align(left, "min", $medium);}
	&.l-up{@include align(left, "min", $large);}
	&.xl-up{@include align(left, "min", $extra-large);}

	// down-direction
	&.s-down{@include align(left, "max", $small);}
	&.m-down{@include align(left, "max", $medium);}
	&.l-down{@include align(left, "max", $large);}
	&.xl-down{@include align(left, "max", $extra-large);}
}

// Media-queries

@mixin hide(){
	display: none !important;
}

// Small
.hide-s-down{@media(max-width: $small){@include hide;}}
.hide-s-up{@media(min-width: $small){@include hide;}}
.hide-s-only{@media(min-width: $small) and (max-width: $medium){@include hide;}}

// Medium
.hide-m-down{@media(max-width: $medium){@include hide;}}
.hide-m-up{@media(min-width: $medium){@include hide;}}
.hide-m-only{@media(min-width: $medium) and (max-width: $large){@include hide;}}

// Large
.hide-l-down{@media(max-width: $large){@include hide;}}
.hide-l-up{@media(min-width: $large){@include hide;}}
.hide-l-only{@media(min-width: $large) and (max-width: $extra-large){@include hide;}}

// Extra-large
.hide-xl-down{@media(max-width: $extra-large){@include hide;}}
.hide-xl-up{@media(min-width: $extra-large){@include hide;}}
.hide-xl-only{@media(min-width: $extra-large) and (max-width: $huge){@include hide;}}

// Huge{
.hide-h{@media(min-width: $huge){display: none;}}